## Data types

### integers

In [2]:
1 # integer number
1.0 # floating point number

1.0

In [3]:
1+1 # addition

2

In [4]:
1*3 # multiplication

3

In [5]:
1/2.0 # division

0.5

In [6]:
2**4 # exponential

16

In [8]:
4%3 # moudulas operation (reminder)

1

In [9]:
x = 2
y = 2
x+y

4

In [10]:
x = x+x
x

4

### Strings

In [12]:
'Signle Quotes'

'Signle Quotes'

In [13]:
"Double Quotes"

'Double Quotes'

In [15]:
name = 'John'
name

'John'

In [22]:
print(name) # print a name

John

In [17]:
num = 12
print('My number is {} and my name is {}'.format(num, name)) # print formating

My number is 12 and my name is John

In [18]:
print('My number is {one} and my name is {two}'.format(two=name, one=num)) # print formating

My number is 12 and my name is John

In [19]:
s = 'Hello'
s[0] # get the first letter of a string

'H'

In [21]:
s[2:] # get everything starting from index 2

'llo'

In [24]:
s[:3] # get everything up to index 3 (index 3 won't be included)

'Hel'

In [25]:
s[2:4] # get everything starting from index 2 upto 4. (index 4 won't be include)

'll'

### List

In [26]:
[1, 2, 4, 5] # list of integer

[1, 2, 4, 5]

In [27]:
['a', 'b', 'c'] # list of character

['a', 'b', 'c']

In [29]:
my_list = [1, 2, 3, 4, 5]
my_list.append(9) # add an element to a list
print(my_list)

[1, 2, 3, 4, 5, 9]

In [30]:
my_list[0] # get the item at index 0

1

In [31]:
my_list[1:3] # get item from index 1 to index 3 (index 3 element won't be included)

[2, 3]

In [33]:
my_list[0] = 10 # add item at 0 location on the list
my_list

[10, 2, 3, 4, 5, 9]

In [34]:
nest = [10, 20, 30,[1, 2, 3]] # nested list

In [35]:
nest[3][1] # get item from the nested list

2

### Dictionary

In [38]:
d = {'Key1':'Value1', 'Key2': 'Value2'} # key value pair

In [39]:
d['Key1'] # get the value of 'key1'

'Value1'

In [50]:
nested_d1 = {'Key1':'Value1', 'Key2': [1, 2, 3]} # list nested inside a dictionary
my_list  = nested_d1['Key2'] # get the nested list of a dictionary
print(my_list)

nested_d2 = {'Key1':{'Ky1': 'Val1', 'Ky2':'Val2'}, 'Key2':'Value2'} # dictionary nested inside another
print(nested_d2['Key1']['Ky1']) # get value from the 'Key1 value' of the 'Ky1'

[1, 2, 3]
Val1

### Boolean

In [51]:
True

True

In [52]:
False

False

### Tuple

In [56]:
t = (1, 2, 3, 4) # tuple are ummutable but list are muteble
# t[0] = 'New' this cannot work
# mylist[0] = 'New' this can work

In [54]:
t[0]

1

### Set

In [57]:
# set is a collection of unique element
{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [58]:
{1,1, 2, 2, 3,4,5}

{1, 2, 3, 4, 5}

In [59]:
set([1, 1, 2, 2, 3, 4, 4, 5,]) # return a set of unic element

{1, 2, 3, 4, 5}

In [60]:
s = {1, 2, 3, 4}
s.add(5)

In [61]:
s

{1, 2, 3, 4, 5}

## Comparison Operation

In [62]:
1 > 2

False

In [63]:
1 < 2

True

In [64]:
1 >=4

False

In [65]:
1<= 5

True

In [66]:
1 < 2

True

In [67]:
1 == 2

False

In [68]:
1 != 5

True

## Logic Operation

In [70]:
1 < 2 and 2 > 1

True

In [71]:
(1 < 2) and (2 > 1)

True

In [74]:
(1 < 2) or (2 < 4)

True

## If Statement

In [75]:
if 1 < 2:
    print('2 is greater than 1')

2 is greater than 1

In [76]:
if 1 > 0.5:
    print('Yep')
else:
    print('Oooop!')

Yep

In [77]:
if 1 > 8:
    print('Yep')
elif 8 > 2:
    print('eeeeeeh!')
else:
    print('Oooop!')

eeeeeeh!

## Iterations

In [78]:
seq = [1, 3, 4, 6, 8]

# for loop
for item in seq:
    print(item)

1
3
4
6
8

In [79]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i+=1

i is: 1
i is: 2
i is: 3
i is: 4

In [80]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [81]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
[num**2 for num in range(10)] # list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Function

In [84]:
def my_function(param1):
    print(param1)
my_function('Hello World')

Hello World

In [86]:
def my_function(param1='Default Name'): # function with default parameter
    print(param1)
my_function()

Default Name

In [90]:
def square(num):
    """This function square any number."""
    return num**2
output = squre(4)
print(output)

16

In [91]:
help(square) # see the function documentation and signature

Help on function square in module __main__:

square(num)
    This function square any number.

In [92]:
def times2(item):
    return item * 2

In [93]:
times2(5)

10

In [97]:
# map function
seq = [2, 4, 5, 7, 8] # apply times2 function to all the item in this list
list(map(times2, seq))

[4, 8, 10, 14, 16]

In [98]:
# map function using lambda expression
t = lambda item:item*2
t(5)

10

In [99]:
list(map(lambda item:item*2, seq))

[4, 8, 10, 14, 16]

In [101]:
# filter
list(filter(lambda num:num%2==0, seq))

[2, 4, 8]

In [102]:
s = 'This is a string'
s.lower()

'this is a string'

In [103]:
s.upper()

'THIS IS A STRING'

In [105]:
s.split()

['This', 'is', 'a', 'string']

In [107]:
tweet = 'Go sport! #sport' # get the twitter hash tag
tweet.split('#')[1]

'sport'

In [109]:
x = [(1, 4), (4, 6), (3, 0)]
for (a, b) in x: # unpacking
    print(b)

4
6
0